[submodule "src/contrib/P99"]
	path = src/contrib/P99
	url = https://github.com/roflcopter4/P99
[submodule "src/contrib/bstring"]
	path = src/contrib/bstring
	url = https://github.com/roflcopter4/bstring
